* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

/*
**** Layout ****
*/
/*
div {
	border: 1px solid black;
}
*/
.item1 {
	grid-area: header;
}

header {
	display: grid;
	grid-template-areas:
		'header header header header header header';
	gap: 10px;
	width: 100%;
	margin: 0 auto;
	background: tomato;
	margin-bottom: 8px;
	top: 0;
	position: fixed;
}

header>#logo {
	margin: 30px;
}

header>#area-menu {
	margin: 30px;
}

header nav a {
	color: white;
	text-decoration: none;
	padding: 16px;
	font-size: 30px;
}

.grid {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 650px 1fr;
	margin-top: 110px;
	gap: 20px;
}

.grid #area-postagens {
	margin: 8px;
}

.grid #area-lateral {
	width: 240px;
}

.grid .postagem {
	padding: 40px;
	margin-bottom: 32px;
	background: white;
}

div>img {
	width: 550px;
}

.grid .conteudo-lateral {
	margin: 8px;
	padding: 24px;
	background: white;
}

.postagem-lateral {
	padding: 8px;
	background: #e6e6e6;
}

footer {
	clear: both;
	width: 100%;
	text-align: center;
	padding: 15px;
	background: #CCC;
	bottom: 0;
	position: fixed;
}

/*
**** Formatação do menu ****
*/

section a:link,
a:visited {
	color: #f7b600;
}

a:hover {
	text-decoration: underline;
}

#area-cabecalho a:link,
#area-cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}

#area-cabecalho a:hover {
	color: #f7b600;
	background: #FFF;
	text-decoration: none;
}

/*
**** Formatações em geral ****
*/
h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

h2 {
	color: #f7b600;
	padding: 8px;
}

h3 {
	color: #565656;
	background: #CCC;
}

.data-postagem {
	text-align: end;
	padding-bottom: 8px;
}

.postagem>p {
	padding-bottom: 16px;
}

.branco {
	color: white;
}